<h1>All Movies</h1>

<%= link_to "Add new movie", new_movie_path %>
<%= form_tag movies_path, method: :get, id: 'ratings_form' do %>
  <div class="rating-filter">
    Incluir Ratings:
    <% @all_ratings.each do |rating| %>
      <div class="form-check form-check-inline">
        <%= label_tag "ratings_#{rating}", rating, class: 'form-check-label' %>
        <%= check_box_tag "ratings[#{rating}]", 1, @ratings_selecionados.key?(rating), id: "ratings_#{rating}", class: 'form-check-input' %>
      </div>
    <% end %>
    <%= submit_tag 'Atualizar', id: 'ratings_submit', class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div id="notice" class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>
<hr>


<div id="movies">
  <div class="row fw-bold">
    <div class="col-8">
      <% if 'title' == @coluna_ordenada %>
        <%= link_to 'Movie Title', movies_path({ sort: 'title', ratings: @ratings_selecionados }), class: 'sorted', data: { turbo: false } %>
      <% else %>
        <%= link_to 'Movie Title', movies_path({ sort: 'title', ratings: @ratings_selecionados }), data: { turbo: false } %>
      <% end %>
    </div>

    <div class="col-2">Rating</div>

    <div class="col-2">
      <% if 'release_date' == @coluna_ordenada %>
        <%= link_to 'Release Date', movies_path({ sort: 'release_date', ratings: @ratings_selecionados }), class: 'sorted', data: { turbo: false } %>
      <% else %>
        <%= link_to 'Release Date', movies_path({ sort: 'release_date', ratings: @ratings_selecionados }), data: { turbo: false } %>
      <% end %>
    </div>
  </div>

  <% @movies.each do |movie| %>
    <div class="row">
      <div class="col-8">
        <%= link_to movie.title, movie_path(movie) %>
      </div>
      <div class="col-2"><%= movie.rating %></div>
      <div class="col-2"><%= link_to movie.release_date.strftime('%F'), movie_path(movie) %></div>
    </div>
  <% end %>
</div>